.forgot-pass-form {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  height: 100%;
  background-color: #e9ecef;
}

.forgot-pass-form__title {
  text-align: center;
  font-size: 1.15rem;
  font-weight: normal;
}

.forgot-pass-form__container {
  width: min(350px, 90vw);
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.1);
  padding: 25px 40px;
}

.forgot-pass-form__container .forgot-pass-form__warning {
  text-align: center;
}

.forgot-pass-form__container form {
  box-sizing: border-box;
}

.forgot-pass-form__container .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.forgot-pass-form__container .text h2 {
  font-size: 1.2em;
  font-weight: 600;
}

.forgot-pass-form__container .text p {
  font-size: .8em;
}

form .forgot-pass-form__field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.forgot-pass-form__field {
  margin-bottom: 80px;
}

.forgot-pass-form__field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 14px;
  border: none;
  background: none;
  outline: none;
}

.forgot-pass-form__field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.forgot-pass-form__field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(131deg, #202c61 0%, #19505b 50%, #1d6353 99% 99%);
  transition: 0.5s;
}

.forgot-pass-form__field input:focus ~ label,
.forgot-pass-form__field input:valid ~ label {
  top: -5px;
  color: #19505b;
}

.forgot-pass-form__field input:focus ~ span::before,
.forgot-pass-form__field input:valid ~ span::before {
  width: 100%;
}

/* .forgot-pass-form__error-message {
  color: #d93025;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.forgot-pass-form__error-message img {
  width: 20px;
  margin-right: 5px;
} */

.forgot-pass-form input[type="submit"] {
  display: block;
  width: 180px;
  height: 50px;
  border: 1px solid;
  margin: auto;
  background: linear-gradient(131deg, #202c61 0%, #19505b 50%, #1d6353 99% 99%);
  border-radius: 4px;
  font-size: 18px;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
}

.forgot-pass-form input[type="submit"]:hover {
  border-radius: 25px;
  box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.1);
}

.forgot-pass-form__back-to-login {
  margin-top: 20px;
  font-size: .7em;
}

.forgot-pass-form__back-to-login a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

.forgot-pass-form__back-to-login a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.forgot-pass-form__back-to-login img {
  width: 20px;
}