/*--------------------------- Parent Container ---------------------------*/
.admin-archive {
  max-width: 80%;
  margin: 0 auto;
} 

/*--------------------------- Archive Features ---------------------------*/
.admin-archive h1 {
  margin-bottom: 2rem;
}

.admin-archive .archive-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-inline: auto;
  margin-bottom: 30px;
}

.admin-archive .archive-features .archive-dropdown {
  display: flex;
  background: #d9d9d9;
  border-radius: 20px;
  padding: 10px 20px;
  justify-content: space-between;
}

.admin-archive .archive-features .archive-dropdown .filter {
  margin-right: 5rem;
}

/*--------------------------- TABLE ---------------------------*/
.admin-archive .archive-table{
  overflow-x: auto;
  border-radius: 10px;
}

.archive-table::-webkit-scrollbar {
	width: .2rem;  
}

.archive-table::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5rem;
}

.archive-table::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 5rem;
}

.archive-table__content {
  border-collapse: collapse;
  font-size: .9em;
  /* overflow: hidden; */
}

.archive-table__content thead tr{
  background: linear-gradient(to bottom,
  #212d62,
  #212d62,
  #1c435d,
  #1b5858);   
  text-align: left;
  color: #fff;
}

.archive-table__content thead th{
  padding-left: 4rem;
  height: 4rem;
  font-weight: 300;
}

.archive-table__content thead .action {
  width: 15%;
}

.archive-table__content tbody tr {
  height: 5rem;
}

.archive-table__content tbody tr:nth-child(even) {
  background-color: #d9d9d9;
}

.archive-table__content tbody tr:last-child {
  border-bottom: 3px solid #212d62;
}

.archive-table__content tbody td{
  padding-left: 4rem;
  padding-bottom: 5px;
  font-weight: 400;
}

/*------------ Action Column ------------*/
.archive-table__content tbody .button__action {
  position: relative;
  margin-left: 1rem;
}

.archive-table__content tbody .dropdown {
  color: #000;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1.2em;
}

.archive-table__content tbody .dropdown__content {
  display: none;
  position: absolute;
  background-color: #121e3a;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 0;
  left: -48px;
  z-index: 1;
  width: 110px;
}

.archive-table__content tbody .dropdown__content a {
  color: #fff;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  font-size: 1em;
  text-align: left;
  font-weight: 400;
}

.archive-table__content tbody .dropdown__content a:hover {
  background-color: #d3cece;
  color: #000;
  border-radius: 10px;
}

.archive-table__content tbody .button__action:hover .dropdown__content {
  display: block;
  top: 20px;
}

.archive-table__content tbody .dropdown {
  color: #000;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1.2em;
}

.archive-table__content tbody .dropdown__content a {
  color: #fff;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  font-size: 1em;
  text-align: left;
  font-weight: 400;
}

.archive-table__content tbody .dropdown__content a:hover {
  background-color: #d3cece;
  color: #000;
  border-radius: 10px;
}

.archive-table__content tbody .button__action:hover .dropdown__content {
  display: block;
}

.archive-table__content tbody .button__action:hover .dropdown__content img {
  width: 20px;
  padding-right: 3px;
  margin-top: 2px;
}

/*--------------------------- PAGINATION ---------------------------*/
.admin-archive .pagination {
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.admin-archive .pagination button {
  padding: 3px 20px;
  border-radius: 5px;
  border: none;
  background: #121e3a;
  color: #fff;
  font-size: .8em;
  font-weight: 400;
}

.admin-archive .pagination button:hover {
  background-color: #d9d9d9;
  color: #000;
  cursor: pointer;
}

.admin-archive .page-num {
  background: #1d5f55;
  padding: 4px 14px;
  border-radius: 8px;
  color: #fff;
  font-size: .7em;
}

/*--------------------------- RESPONSIVENESS ---------------------------*/
@media (max-width: 650px){
  .admin-archive .archive-table {
    width: 100%;
  }

  .archive-table__content thead th {
    display: none;
  }

  .archive-table__content tbody td {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .archive-table__content tbody td:first-child {
    padding-top: 2rem;
  }

  .archive-table__content tbody td:last-child {
    padding-bottom: 2rem;
  }

  .archive-table__content tbody td::before {
    font-weight: 700;
    font-size: 1.2em;
    text-transform: capitalize;
  }

  .archive-table__content tbody td:nth-of-type(1)::before {
    content: "title";
  }

  .archive-table__content tbody td:nth-of-type(2)::before {
    content: "author";
  }

  .archive-table__content tbody td:nth-of-type(3)::before {
    content: "course/strand";
  }

  .archive-table__content tbody td:nth-of-type(4)::before {
    content: "date created";
  }

  .archive-table__content tbody td:nth-of-type(5)::before {
    content: "action";
  }

  .archive-table__content tbody .dropdown__content {
    top: 27px;
    left: -30px;
  }
}

@media screen and (max-width: 560px) {
  .admin-archive .archive-features .archive-dropdown {
    display: block;
    justify-content: start;
    border-radius: 5px;
  }
}