/* ------------------- New Research ------------------- */
.new-research {
  display: flex;
  margin-inline: auto;
  width: min(1067px, 90%);
  background-color: #f0f0f0;
  margin-bottom: 3rem;
  position: relative;
}

.newsub-research {
  display: flex;
  justify-content: space-between;
  width: min(1067px, 90%);
  margin-inline: auto;
  margin-block: 5rem 2rem;
}

.newsub-research__pagination {
  display: flex;
  justify-content: center;
}

.new-research picture {
  margin-right: auto;
  text-align: center;
}

.new-research img {
  width: min(350px, 80vw);
  height: 100%;
  object-fit: cover;
}

.new-research__content {
  width: min(900px, 60%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
  padding: 2rem min(1rem, 2vw);
  margin-right: auto;
}

/* --- Start of Dropdown Menu --- */
.new-research__content .button__menu {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 18px;
}

.button__menu .dropdown {
  color: #fff;
  border: none;
  cursor: pointer;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 0;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 35px;
  left: -27px;
  width: 92px;
}

.dropdown__content a {
  color: #fff;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  font-size: .7em;
  text-align: left;
}

.dropdown__content a:hover {
  background-color: #d3cece;
  color: #000;
  border-radius: 7px;
}

.button__menu:hover .dropdown__content {
  display: block;
}

.button__menu:hover .dropdown__content img {
  width: 20px;
  padding-right: 3px;
}
/* --- End of Dropdown Menu --- */

.new-research__content img {
  width: 40px;
}

.new-research__content h3 {
  font-weight: normal;
  text-align: left;
}

.new-research__content span {
  font-weight: bold;
}

.new-research__content p {
  font-size: 12px;
}

/* --------- Approve/Reject Buttons --------- */
.new-research__content .buttons {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
}

.new-research__content .buttons a {
  color: #fff;
  text-align: center;
  width: 150px;
  padding: 0.75rem;
  border-radius: 50px;
  margin-top: 1rem;
  transition: all 300ms;
  text-decoration: none;
}

.button__approve {
  background: #121e3a;
}

.button__reject {
  background: #c70505;
}

.new-research__content .buttons a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* ------------------- Responsiveness ------------------- */
@media (max-width: 820px) {
  .new-research {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .new-research__content,
  .new-research picture {
    margin: 0;
    margin-top: 15px;
    width: 90%;
  }

  .new-research picture {
    padding-top: 2rem;
  }
}