/*===================================================  Archive  ===================================================*/
.archive-view-container {
  background: #f0f0f0;
  max-width: 1100px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px 40px;
}

.archive-view-container h1 {
  font-weight: 400;
  margin-bottom: 50px;
}

.archive-view-container .archive-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.archive-view .info h2 {
  font-size: 1em;
  font-weight: 400;
  line-height: 60px;
}

.archive-view .info span {
  font-weight: 700;
}

/*===================================================  Button  ===================================================*/
.archive-view-container .archive-view .download-btn {
  border: none;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 12px; 
  font-size: 1em;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(32, 44, 97, 0.5);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  background: linear-gradient(to top, #202c61 0%, 50%, #1d6353 99% 99%);
  color: #fff;
}

.archive-view-container .archive-view .download-btn:hover, 
.archive-view-container .archive-view .download-btn:focus, 
.archive-view-container .archive-view .download-btn:active {
  box-shadow: 0 0 5px rgba(32, 44, 97, 0.9);
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
}
/*===================================================  Table  ===================================================*/
.archive-view-container .table-content {
  border-collapse: collapse;
  font-size: 0.9em;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin-top: 25px;
}

.archive-view-container .table-content thead tr {
  background: linear-gradient(to bottom, #212d62, #212d62, #1c435d, #1b5858);
  text-align: left;
  color: #fff;
}

.archive-view-container .table-content thead th {
  padding-left: 4rem;
  height: 4rem;
  text-transform: uppercase;
  font-weight: 500;
}

.archive-view-container .table-content td {
  padding-bottom: 10px;
}

.archive-view-container .table-content tbody tr {
  height: 4rem;
}

.archive-view-container .table-content tbody tr:nth-child(even) {
  background-color: #d9d9d9;
}

.archive-view-container .table-content tbody .field {
  border-right: 3px solid #1d6055;
  padding-left: 4rem;
  padding-right: 5rem;
  width: 25%;
}

.archive-view-container .table-content tbody .value {
  padding-left: 4rem;
}

.archive-view-container .table-content tbody tr:last-child {
  border-bottom: 3px solid #1d6055;
}

/*===================================================  Responsiveness  ===================================================*/
@media (max-width: 1165px) {
  .archive-view-container {
    flex-wrap: wrap;
    padding: 25px 35px;
  }

  .archive-view-container .archive-view {
    flex-wrap: wrap;
  }
}

@media (max-width: 820px) {
  .archive-view .info h2 {
    margin-top: 30px;
    line-height: 30px;
  }

  .archive-view-container {
    padding: 25px 25px;
  }
}

@media (max-width: 650px) {
  .archive-view-container .table-content {
    margin-bottom: 20px;
  }

  .archive-view-container .table-content thead th {
    text-align: center;
    padding-left: 0;
    height: 4rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  .archive-view-container .table-content tbody td {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .archive-view-container .table-content tbody .value {
    padding-left: 2rem;
  }

  .archive-view-container .table-content tbody .field {
    font-weight: 600;
    font-size: 1em;
    padding-left: 2rem;
  }

  .archive-view-container .table-content tbody .field {
    border-right: none;
    width: 100%;
  }

  .archive-view-container
    .table-content
    tbody
    td
    .field:nth-of-type(1)::before {
    content: "research title:";
  }

  .archive-view-container
    .table-content
    tbody
    td
    .field:nth-of-type(2)::before {
    content: "publication year:";
  }

  .archive-view-container
    .table-content
    tbody
    td
    .field:nth-of-type(3)::before {
    content: "author";
  }

  .archive-view-container
    .table-content
    tbody
    td
    .field:nth-of-type(4)::before {
    content: "date issued";
  }

  .archive-view-container
    .table-content
    tbody
    td
    .field:nth-of-type(5)::before {
    content: "course/strand";
  }

  .archive-view-container
    .table-content
    tbody
    td
    .field:nth-of-type(5)::before {
    content: "department";
  }
}
