.submit {
  width: 90%;
  margin-inline: auto;
  background: #f0f0f0;
  padding-block: 5rem;
}

.submit form fieldset {
  width: 95%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  border: none;
  margin: auto;
  flex-wrap: wrap;
}

/* =========================== INPUT RIGHT =========================== */
.submit form fieldset .input_right {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  gap: 1rem;
}

.submit form fieldset .input_right div label {
  display: block;
}

.submit form fieldset .input_right div input,
.submit form fieldset .input_right textarea {
  border-radius: 2rem;
  background: #d9d9d9;
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding-block: 0.85rem;
  width: 100%;
  text-indent: 1rem;
}

.submit form #year {
  width: 200px;
  text-indent: 0;
  padding-inline: 2rem;
}

.submit form fieldset .input_right textarea {
  resize: none;
  padding-inline: 2rem;
}

.submit form fieldset .input_right div.course_department {
  display: flex;
  gap: 0.25rem;
}

/* =========================== INPUT LEFT =========================== */
.submit form fieldset .input_left {
  width: 21.6875rem;
  background-color: #1d3c5f26;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23202C61FF' stroke-width='4' stroke-dasharray='15' stroke-dashoffset='25' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.submit form fieldset .input_left span {
  color: #8997a9;
  text-align: center;
  font-size: 1rem;
}

.submit form fieldset .input_left img {
  width: 120px;
}

.submit form fieldset .input_left #input_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.submit form fieldset .input_left label[for="input_file"] {
  outline: none;
  border: none;
  width: 11.375rem;
  border-radius: 1.25rem;
  background: rgba(30, 59, 95, 0.4);
  color: #000;
  text-align: center;
  font-size: 1rem;
  padding-block: 1rem;
  cursor: pointer;
}

.submit form button {
  display: block;
  margin: 3rem auto 0;
  outline: none;
  border: none;
  color: #f0f0f0;
  font-size: 1.25rem;
  width: 220px;
  padding: 1rem;
  border-radius: 3.125rem;
  background: #1e1e1e;

}
