.previous-btn {
  width: min(1067px, 90%);
  margin-inline: auto;
  padding-bottom: 1rem;
}

.repository .title {
  width: min(600px, 90%);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 1rem 0;
  position: relative;
  padding-bottom: 1rem;
  border-radius: 30px;
}

.repository .title.cite {
  color: #50444c;
  border-bottom: 3px solid #50444c;
}

.repository .title.cea {
  color: #300404;
  border-bottom: 3px solid #300404;
}

.repository .title.cma {
  color: #634B0C;
  border-bottom: 3px solid #634B0C;
}

.repository .title.cahs {
  color: #0c3f26;
  border-bottom: 3px solid #0c3f26;
}

.repository .title.cela {
  color: #20146c;
  border-bottom: 3px solid #20146c;
}

.repository .title.ccje {
  color: #382c34;
  border-bottom: 3px solid #382c34;
}

.repository .title.shs {
  color: #184424;
  border-bottom: 3px solid #184424;
}

.repository .title.law {
  color: #584c1c;
  border-bottom: 3px solid #584c1c;
}

.repository .title h1 {
  text-align: center;
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
  margin-inline: 1rem;
}

.repository .title img {
  width: min(100px, 20vw);
  vertical-align: middle;
  box-shadow: 0px 3px 5px 0 #00000083;
  border-radius: 50%;
  background-color: transparent;
}

.repository .search-bar {
  width: min(1067px, 90%);
  margin-inline: auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.repository .research {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.repository .research .research-card {
  display: flex;
  margin-inline: auto;
  width: min(1067px, 90%);
  background-color: #f0f0f0;
}

.repository .research .research-card picture {
  margin-right: auto;
  text-align: center;
}

.repository .research .research-card img {
  width: min(350px, 80vw);
  height: 100%;
  object-fit: cover;
}

.repository .research .research-card .content {
  width: min(900px, 60%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
  padding: 2rem min(1rem, 2vw);
  margin-right: auto;
}

.repository .research .research-card .content span {
  font-weight: bold;
}

.repository .research .research-card .content p {
  font-size: 12px;
}

.repository .research .research-card .content a {
  color: white;
  background: linear-gradient(131deg, #202c61 0%, #19505b 50%, #1d6353 99% 99%);
  text-align: center;
  width: 150px;
  padding: 0.75rem;
  border-radius: 50px;
  margin: auto;
  margin-top: 1rem;
  transition: all 300ms;
}

.repository .research .research-card .content a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.back-to-the-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 300ms;
}

.back-to-the-top img {
  width: 25px;
}

.back-to-the-top.show {
  cursor: pointer;
  opacity: 1;
}

/* pagination */
.repository__pagination {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
  gap: 2rem;
}

.repository__pagination-btn {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
 background: #183153;
 font-family: "Montserrat", sans-serif;
 box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
 overflow: hidden;
 border: none;
 cursor: pointer;
}

.repository__pagination-btn:after {
 content: " ";
 width: 0%;
 height: 100%;
 background: #FFD401;
 position: absolute;
 transition: all 0.4s ease-in-out;
 right: 0;
}

.repository__pagination-btn:hover::after {
 right: auto;
 left: 0;
 width: 100%;
}

.repository__pagination-btn span {
 text-align: center;
 text-decoration: none;
 width: 100%;
 padding: 18px 25px;
 color: #fff;
 font-size: 1.125em;
 font-weight: 700;
 letter-spacing: 0.3em;
 z-index: 20;
 transition: all 0.3s ease-in-out;
}

.repository__pagination-btn:hover span {
 color: #183153;
 animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
 0% {
  transform: scale(1);
 }

 50% {
  transform: scale(0.95);
 }

 100% {
  transform: scale(1);
 }
}

