/* --------------------------- Research-View / Parent --------------------------- */
.research-document {
    margin-top: 2rem;
}

.research-view {
  width: min(90%, 1100px);
  background: #f0f0f0;
  margin: 0 auto;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.research__infos {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.content__left img {
  margin-top: 30px;
  border-radius: 20px;
}

.content__right h1 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 800;
  margin: .7rem 0;
  background: linear-gradient(131deg, #202c61 0%, 50%, #1d6353 99% 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 40px;
}

.content__right .hr {
  margin-block: 50px;
  border-top: 4px solid #1d6353;
}

.content__right .file-info {
  font-size: 1.2em;
  line-height: 70px;
  margin-top: 70px;
}

.content__right .file-info span {
  font-weight: 700;
}

.content__right .download-btn {
  border: none;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 12px; 
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 50px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(32, 44, 97, 0.5);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  background: linear-gradient(to top, #202c61 0%, 50%, #1d6353 99% 99%);
  color: #fff;
  margin-top: 40px;
}

.content__right .download-btn:hover, .download-btn:focus, .download-btn:active {
  box-shadow: 0 0 5px rgba(32, 44, 97, 0.9);
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
}

.research__abstract {
  margin-block: 20px;
}

.research__abstract span {
  font-weight: 700;
  font-size: 1.2em;
}

.research__abstract p {
  text-indent: 3rem;
  line-height: 40px;
}

.research-view h2 {
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

.research-view .research-review {
  margin-top: 20px;
}

@media (max-width: 1165px) {
  .research__infos {
    flex-wrap: wrap;
  }

  .content__left img {
    width: 100%;
  }
}

.content__right .download-btn {
  margin-top: 40px;
}

.research__abstract {
  margin-top: 67px;
}

@media (max-width: 820px) {
  .research-view {
    padding: 20px 30px;
  }
}

@media (max-width: 625px) {
  .research-view {
    width: 100%;
  }
}